body { margin: 50px; background-color:#ffffff; color: #000000; font-family: Castellar, sans-serif; font-size: 24px;}

p { "font-family: Castellar, sans-serif;"}

ul { list-style-image: url(IMG_4079.jpg); }

.logo {background-color: #000066; color: #9999cc;}

.nav { padding: 5px; background-color: #9999cc; color: #000066; text-decoration: none; font-size: large;}

.content {font-family:Arial, sans-serif; line-height: 200%;}

.headings { color: #9999cc; background-color: #ffffff; line-height: 200%; padding: 10px; }
  
.footer { font-size: xx-small; text-align: center; }

a.nav:link { color: #000066 }
a.nav:visited { color: #000000 }
a.nav:hover { color: #ffffff }

#content { position:absolute; left:200px; top:100px; font-family: Arial, sans-serif; width:300px; }

.rightfloat { float:right; margin:5px; clear:right; border:solid; }
