body { margin: 50px; background-color:#ffffff;}

h1,h3 { font-family: Castellar, sans-serif; text-align:inherit;}
h2 { font-family: Arial, sans-serif; text-align:inherit;}

p { font-family: Castellar, sans-serif; font-size: 10px;}

a { font-family: Castellar, sans-serif; font-size: 8px;}

div.polaroid {  width: 250px; padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center; }

div.container {  padding: 10px;}

#content { position:absolute; left:200px; top:100px; font-family: Castellar, sans-serif; font-size: 50px; width:300px; }

.rightfloat { float:right; margin:5px; clear:right; border:solid; }
